# Databases parameters
DB_DATABASE=Andromeda_Db
DB_USER=andromeda_user
DB_PASSWORD=test

# Cache parameters
CACHE_PASSWORD=test


# JWT Config
SECRET_KEY=E4mD8Kz!Q2x@W7pOT5n^L9c*R3v&B1y%H6jM4fN8uA2sD7gP5qX9wZ3e