# ==========================================
# Environment files
# ==========================================
.env
.env.*
!.env.example


# ==========================================
# Docker
# ==========================================
.containers/

# Docker override / local files
docker-compose.override.yml


# ==========================================
# IDEs
# ==========================================
.vs/
.vscode/
.idea/

**/*.user
**/*.suo
*.DotSettings.user


# ==========================================
# Logs
# ==========================================
**/*.log
logs/
Logs/


# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db


# ==========================================
# Temporary files
# ==========================================
~$*
*~

*.pem


# ==========================================
# Coverage
# ==========================================
coverage/